.banner-page {
    background-image: url('../img/banner_changelog.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 356px;
    padding: 200px 0px 0px 0px;
}
.changelog {
    padding-top: 128px;
    padding-bottom: 128px;
}