/* body {
    font-family: Arial, sans-serif;
}
.pricing-header {
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: white;
    text-align: center;
}
.pricing-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-body {
    text-align: center;
    padding: 30px;
}
.card-body ul {
    list-style: none;
    padding: 0;
}
.card-body ul li {
    margin: 10px 0;
}
.btn-custom {
    background-color: #d4a373;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
.btn-custom:hover {
    background-color: #c58a60;
} */


.banner-page {
    background-image: url('../img/banner_pricing.png');
    height: 356px;
    padding: 181px 0px 0px 0px;
}

.btn-custom {
    background-color: #F4F0EC;
}
