/* max-width 430px */
@media (max-width:767px) {
    /* style header */
    .icon-bars {
        display: inline-flex;
        justify-content: end;
    }
    .icon-navbars {
        font-size: 26px;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .main-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: #ffffff;
    }
    .item-menu {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .sub-menu {
        padding: 8px 18px;
    }
    .sub-menu ul li a{
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding: 8px 0;
    }
    .sub-menu {
        position: relative;
    }
    .drop-item {
        display: none;
    }
    .sub-menu:hover .drop-item {
        width: 100%;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
    
    }
    .sub-menu:hover,
    .drop-item li:hover>a {
        color: #ffffff;
        background-color: #292F36;
    }
    .sub-menu:hover>a{
        color: rgb(255, 255, 255);
    }
    .search-rps {
        font-size: 16px;
        width: 140px;
        border: none;
        outline: none;
        background-color: white;
        display: none;
    }
    .active-search .search-rps{
        display: block;
    }
    .border-search-rps {
        border-radius: 26px;
        padding: 0px 11px;
        margin-right: 12px;
    }



    /* style footer */
    .content-footer {
        margin-bottom: 28px;
        margin-top: 48px;
    }
    .copyright {
        padding: 12px;
    }
    .text-footer {
        text-align: center;
    }
    .logo-footer {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }


    /* style Guide Heading Text */
    .disply-text-big, .disply-text, h1, h2, h3, h4, h5, h6 {
        font-family: 'DM Serif Display';
        color: #292F36;
    }
    .disply-text-big {
        font-size: 50px;
        margin-bottom: 18px;
    }
    .disply-text {
        font-size: 35px;
        margin-bottom: 18px;
    }
    h1 {  
        font-size: 25px;
        margin-bottom: 14px;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
    h5,
    i {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }


    /* style Guide Paragraph */
    p {
        font-size: 14px;
        color: #292F36;
    }
    .medium-paragraph {
        font-family: "Jost", sans-serif;
        font-size: 12px;
    }
    .small-paragraph {
        font-family: "Jost", sans-serif;
        font-size: 10px;
    }


    /* style Guide Text */
    a, p, li {
        font-family: "Jost", sans-serif;
    }
    a {
        text-decoration: none;
        color: #292F36;
    }
    .text-responsive {
        display: none;
    }


    .stylish_img {
        display: none;
    }

    /* style Guide List */
    .nav-link {
        font-size: 10px;
        color: #292F36;
    }
    ul {
        padding: 0;
    }


    /* style Guide Block */
    .quotes {
        padding: 48px 0px;
        border-radius: 32px;
    }

    /* style Guide Button */
    .btn-guide {
        font-family: "Jost", sans-serif;
        font-size: 12px;
        padding: 16px 28px;
        border-radius: 10px;
        font-weight: 500;
    }
    .btn {
        border: none;
    }
    .fa-solid {
        color: #CDA274;
    }
    .btn-responsive {
        display: block;
    }
    .btn-responsive-none {
        display: none;
    }


    /* style Guide Form */
    input,
    textarea {
        outline: none;
        font-size: 12px;
        color: #292F36;
    }
    input::placeholder {
        color: #292F36;
    }
    label {
        color: #CDA274;
    }


    /* style banner */
    .banner {
        background-image: url('../img/banner.png');
        background-repeat: round;
        height: 320px;
        padding: 52px 0px 0px 0px;
        text-align: center;
    }
    .text-banner-pages {
        padding: 42px 0;
        width: 500px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    
    .content {
        margin-bottom: 38px;
    }


    /* style home */
    .plan {
        padding: 38px 48px;
        border-radius: 30px;
    }
    .icon-phone {
        font-size: 18px;
        width: 52px;
        height: 52px;
    }
    .icon-arrow {
        width: 48px;
        height: 48px;
    }
    .icon-arrow-blog {
        color: #292F36;
        width: 52px;
        height: 52px;
    }
    .number,
    .text-phone {
        margin: 0px;
    }
    .testimonial {
        background-color: #F4F0EC;
        padding: 48px 38px;
    }
    .testimonial-item {
        height: 100%;
        padding: 54px 38px;
    }
    .counter {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .date {
        display: flex;
        align-items: end;
    }
    .client-logo {
        padding: 0 54px;
    }
    .client-logo:first-of-type {
        padding-left: 54px;
    }
    .client-logo:last-of-type {
        padding-right: 54px;
    }
}


/* max-width 1200px */
@media (max-width:1199px) and (min-width:768px) {
    /* style header */
    .icon-bars {
        display: none;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .main-nav {
        display: flex;
        justify-content: end;
    }
    .item-menu {
        display: flex;
    }
    .sub-menu {
        padding: 8px 18px;
    }
    .sub-menu ul li a{
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding: 8px 0;
    }
    .sub-menu {
        position: relative;
    }
    .drop-item {
        display: none;
    }
    .sub-menu:hover .drop-item {
        width: 100%;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
    
    }
    .sub-menu:hover,
    .drop-item li:hover>a {
        color: #ffffff;
        background-color: #292F36;
    }
    .sub-menu:hover>a{
        color: rgb(255, 255, 255);
    }
    .search {
        font-size: 16px;
        width: 140px;
        border: none;
        outline: none;
        background-color: white;
        display: none;
    }
    .active-search .search{
        display: block;
    }
    .border-search {
        border-radius: 26px;
        padding: 0px 14px;
    }


    /* style footer */
    .content-footer {
        margin-bottom: 134px;
        margin-top: 100px;
    }


    /* style Guide Heading Text */
    .disply-text-big, .disply-text, h1, h2, h3, h4, h5, h6 {
        font-family: 'DM Serif Display';
        color: #292F36;
    }
    .disply-text-big {
        font-size: 65px;
    }
    .disply-text {
        font-size: 48px;
    }
    h1 {  
        font-size: 32px;
        
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5,
    i {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }


    /* style Guide Paragraph */
    p {
        font-size: 16px;
        color: #292F36;
    }
    .medium-paragraph {
        font-family: "Jost", sans-serif;
        font-size: 16px;
    }
    .small-paragraph {
        font-family: "Jost", sans-serif;
        font-size: 12px;
    }


    /* style Guide Text */
    a, p, li {
        font-family: "Jost", sans-serif;
    }
    a {
        text-decoration: none;
        color: #292F36;
    }


    /* style Guide List */
    .nav-link {
        font-size: 14px;
        color: #292F36;
    }
    ul {
        padding: 0;
    }


    /* style Guide Block */
    .quotes {
        padding: 68px 0px;
        border-radius: 70px;
    }

    /* style Guide Button */
    .btn-guide {
        font-family: "Jost", sans-serif;
        font-size: 18px;
        padding: 20px 38px;
        border-radius: 12px;
        font-weight: 500;
    }
    .btn {
        border: none;
    }
    .fa-solid {
        color: #CDA274;
    }


    /* style Guide Form */
    input,
    textarea {
        outline: none;
        font-size: 12px;
        color: #292F36;
    }
    input::placeholder {
        color: #292F36;
    }
    label {
        color: #CDA274;
    }

    /* style banner */
    .banner {
        background-image: url('../img/banner.png');
        background-repeat: round;
        height: 532px;
        padding: 124px 0px 0px 0px;
    }
    .text-banner-pages {
        padding: 42px 0;
        width: 500px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .content {
        margin-bottom: 120px;
    }
    

    /* style home */
    .plan {
        padding: 16px 18px;
        border-radius: 30px;
    }
    .icon-phone {
        font-size: 28px;
        width: 68px;
        height: 68px;
    }
    .icon-arrow {
        width: 48px;
        height: 48px;
    }
    .icon-arrow-blog {
        color: #292F36;
        width: 48px;
        height: 48px;
    }
    .number,
    .text-phone {
        margin: 0px;
    }
    
    .counter {
        padding-top: 68px;
        padding-bottom: 68px;
    }

}

@media (max-width:2560px) and (min-width:1200px) {
    /* style header */
    .icon-bars {
        display: none;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .main-nav {
        display: flex;
        justify-content: end;
    }
    .item-menu {
        display: flex;
    }
    .sub-menu {
        padding: 8px 32px;
    }
    .sub-menu ul li a{
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding: 8px 0;    
    }
    .sub-menu {
        position: relative;
    }
    .drop-item {
        display: none;
    }
    .sub-menu:hover .drop-item {
        width: 100%;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
    
    }
    .sub-menu:hover,
    .drop-item li:hover>a {
        color: #ffffff;
        background-color: #292F36;
    }
    .sub-menu:hover>a{
        color: rgb(255, 255, 255);
    }
    .search {
        font-size: 16px;
        width: 160px;
        border: none;
        outline: none;
        background-color: white;
        transition: 1.5s;
        display: none;
        
    }
    .active-search .search{
        display: block;
    }
    .border-search {
        
        border-radius: 26px;
        padding: 0px 12px;
    }
}