.banner-page {
    background-image: url('../img/banner_services.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 356px;
    padding: 181px 0px 0px 0px;
}
.interior-work {
    background-color: #F4F0EC;
}