/* import font */
@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
/* @font-face {
    font-family: 'Jost-Bold';
    src: url('../font/Jost-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Jost-Regular';
    src: url('../font/Jost-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Jost-Italic';
    src: url('../font/Jost-Italic.woff2') format('woff2');
    font-weight: 500;
} */


/* style Guide Color */

/* style Guide Heading Text */
body {
    font-size: 50px;
    font-family: 'DM Serif Display';
}

/* style Guide Paragraph */

/* style Guide Text */

/* style Guide List */

/* style Guide Block */

/* style Guide Button */

/* style Guide Form */