/* import font */
@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

.header .nav-link {
    font-size: 20px;
}


/* style Guide Color */
.color-primary-text1 {
    color: #CDA274;
}
.color-primary-text2 {
    color: #292F36;
}
.color-primary-text3 {
    color: #F4F0EC;
}
.color-primary-btn1 {
    background: #CDA274;
    border: none;
}
.color-primary-btn2 {
    color: #F4F0EC;
    background: #292F36;
    border: none;
}
.color-primary-btn3 {
    background: #F4F0EC;
    border: none;
}


/* style Guide Heading Text */
.disply-text-big, .disply-text, h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display';
    color: #292F36;
}
.disply-text-big {
    font-size: 120px;
    margin-bottom: 24px;
}
.disply-text {
    font-size: 85px;
    margin-bottom: 24px;
}
h1 {  
    font-size: 50px;
    margin-bottom: 28px;
}
h2 {
    font-size: 35px;
    margin-bottom: 16px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 22px;
}
h5,
i {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}


/* style Guide Paragraph */
p {
    font-size: 22px;
    color: #292F36;
}
.medium-paragraph {
    font-family: "Jost", sans-serif;
    font-size: 20px;
}
.small-paragraph {
    font-family: "Jost", sans-serif;
    font-size: 18px;
}


/* style Guide Text */
a, p, li {
    font-family: "Jost", sans-serif;
}
a {
    text-decoration: none;
    color: #292F36;
}


/* style Guide List */
.nav-link {
    font-size: 22px;
    color: #292F36;
}
ul {
    padding: 0;
}


/* style Guide Block */
.quotes {
    padding: 80px 0px;
    border-radius: 70px;
}


/* style Guide Button */
.btn-guide {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    padding: 26px 48px;
    border-radius: 18px;
    font-weight: 500;
}
.btn {
    border: none;
}
.fa-solid {
    color: #CDA274;
}
.btn-responsive {
    display: none;
}


/* style Guide Form */
input,
textarea {
    outline: none;
    font-size: 22px;
    color: #292F36;
}
input::placeholder {
    color: #292F36;
}
label {
    color: #CDA274;
}
.search {
    outline: none;
    border: none;
    background-color: #F4F0EC;
}


/* style banner */
.text-banner-pages {
    padding: 42px 0;
    width: 500px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


/* style guide Pagination */
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: #CDA274;
}
.page-link {
    font-weight: bold;
    color: #292F36;
    width: 52px;
    height: 52px;
    border: 1px solid #CDA274;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-item:hover .page-link {
    background-color: #CDA274;
    color: white;
}
.page-link:hover .fa-solid {
    color: white;
}
.page-item:first-child .page-link {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}


/* style guide image */
img {
    width: 100%;
    object-position: center;
    object-fit: center;
}


/* style header */
.header {
    background-color: white;
    position: sticky;
    top: 0;
}
.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.main-menu a:hover {
    color: #F4F0EC;
    background-color: #292F36;
}
.main-menu li:hover ul.sub-menu{
    display: block;
}


/* style footer */
.content-footer {
    margin-bottom: 134px;
    margin-top: 100px;
}
.copyright {
    padding: 24px;
}


/* style Home */
.banner {
    background-image: url('../img/banner.png');
    background-repeat: round;
    height: 1042px;
    padding: 320px 0px 0px 0px;
}

.content {
    margin-bottom: 200px;
}
.plan {
    padding: 83px 48px;
    border-radius: 30px;
}
.icon-phone,
.icon-arrow,
.icon-arrow-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F0EC;
    border-radius: 50%;
}
.icon-phone {
    font-size: 32px;
    width: 93px;
    height: 93px;
}
.icon-arrow {
    width: 70px;
    height: 70px;
}
.icon-arrow-blog {
    color: #292F36;
    width: 52px;
    height: 52px;
}
.number,
.text-phone {
    margin: 0px;
}
.testimonial {
    background-color: #F4F0EC;
    padding: 88px 38px;
}
.testimonial-item {
    height: 100%;
    padding: 54px 38px;
}
.counter {
    padding-top: 150px;
    padding-bottom: 150px;
}
.date {
    display: flex;
    align-items: end;
}
.client-logo {
    padding: 0 54px;
}
.client-logo:first-of-type {
    padding-left: 0;
}
.client-logo:last-of-type {
    padding-right: 0;
}