/* import font */
@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url('../font/AnyConv.com__Jost-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}
/* style Guide Color */

/* style Guide Heading */
h1 {
    font-size: 50px;
    font-weight: 400;
    font-family: DM Serif Display;
    font-style: italic;
}

/* style Guide Paragraph */

/* style Guide Text */

/* style Guide List */

/* style Guide Block */

/* style Guide Button */

/* style Guide Form */